.App {
  text-align: left;
  margin: auto;
  width: 90%;
}

.done {
  color: rgb(255, 0, 64);
  font-display: unset;
  text-decoration: line-through;
}

/* .mr-5 {
  margin-right: 1px;
}

.ml-5 {
  margin-left: 1px;
} */
